@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Libre+Baskerville:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle at top,#3C5B8F, #000);
  min-height: 100vh;
  overflow-x: hidden;
  color: #112250;
}
.contenedor-form { display: flex; justify-content:center; align-items:center; margin-top:60px; }
.formulario { background: white; width: 520px; padding:50px; border-radius:22px; box-shadow:0 15px 40px rgba(0,0,0,0.45); }
.formulario h2 { text-align:center; margin-bottom:40px; font-family:"Bodoni Moda", serif; font-size:32px; }
.campo { margin-bottom:20px; display:flex; flex-direction:column; }
.campo input { padding:12px; border-radius:10px; border:1px solid #ccc; font-size:14px; background:#f9f9f9; }
button { width:100%; padding:14px; font-size:18px; background:#E0C58F; border:none; border-radius:10px; cursor:pointer; font-family:"Bodoni Moda", serif; margin-top:10px; }
#mensaje { margin-top:15px; text-align:center; color:red; }