<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion</title>>
</head>
    <link rel="stylesheet" href="formulario.css">
<body>
    <form class="formulario">
        <nav>
            <img src="./orio-image.png" width="60" height="60"alt="Logo">
            <ul class="formulario-ul">
                <li class="li-formulario"><a href="login.html">Iniciar Sesion</a></li>
                <li class="li-formulario"><a href="formulario.html">Registrarse</a></li>
            </ul>
        </nav>
        <h2 class="h2-registro">Inicio Sesion</h2>
        <section class="inputs">    
            <label>UserName</label>
            <input type="text" placeholder="=Por ejem. SrSpes">
            <label>Contraseña</label>
            <input type="password">
        </section>
        <button>Enviar</button>
        <p>No tienes una cuenta<a href="formulario.html">Registrarse</a></p>
    </form>    
</body>
</html>