:root{
    --blue-bg:#112250;
    --royal:#3C507D;
    --gold:#E0C58F;
    --font-body:#D9C8C2;
}

body{
    background:#f6f3ef;
} 
/* ==========================
   TOPBAR
========================== */

.topbar{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    gap:35px;
    margin-bottom:40px;
    flex-wrap:wrap;
}

.topbar h2{
    font-size:36px;
    color:#112250;
    line-height:1.2;
    margin-bottom:8px;
}

.topbar p{
    color:#777;
    font-size:15px;
    line-height:1.5;
}

/* ==========================
   CONTROLES DERECHA
========================== */

.top-right{
    display:flex;
    align-items:center;
    gap:20px;
    flex-wrap:wrap;
}

/* ==========================
   BUSCADOR Y FILTROS
========================== */

.search{
    background:white;
    border-radius:24px;
    padding:18px 22px;

    display:flex;
    align-items:center;
    gap:15px;
    flex-wrap:wrap;

    min-width:420px;

    box-shadow:0 8px 25px rgba(0,0,0,.05);
}

.search-bar{
    flex:2;
    min-width:230px;
}

.search input{
    border:none;
    outline:none;
    width:100%;
    font-size:15px;
}

.filter-select{
    flex:1;
    min-width:170px;
    height:50px;
    padding:0 15px;
    border-radius:14px;
}


.notification{
    position:relative;

    width:52px;
    height:52px;

    background:white;
    border-radius:18px;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:22px;
    color:#112250;
    cursor:pointer;

    box-shadow:0 8px 25px rgba(0,0,0,.05);
}

.notification span{
    width:10px;
    height:10px;
    background:#E0C58F;
    border-radius:50%;

    position:absolute;
    top:14px;
    right:14px;
}

.profile{
    width:50px;
    height:50px;
    border-radius:50%;
    background:#112250;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:600;
    font-size:20px;
}

/* CARDS */
.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(270px,1fr));
    gap:25px;
    margin-bottom:40px;
}

.card{
    background:white;
    border-radius:28px;
    padding:28px;

    display:flex;
    align-items:center;
    gap:22px;

    min-height:130px;

    box-shadow:0 10px 30px rgba(0,0,0,.05);
}


.card h3{
    font-size:34px;
    color:#112250;
    line-height:1;
    margin-bottom:8px;
}


.circle{
    width:85px;
    height:85px;

    display:flex;
    justify-content:center;
    align-items:center;

    flex-shrink:0;
}

.circle img{
    width:80px;
    height:80px;
    object-fit:contain;
    border-color:#D9C8C2;
}

.card h1{
    font-size:40px;
    color:#112250;
}

.card p{
    margin:5px 0;
}

.card span{
    color:#777;
    font-size:15px;
}

/* CHARTS */

/* .charts{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:20px;
    margin-bottom:30px;
} */

/* CONTENEDOR DE LA GRÁFICA DE PASTEL */
.charts{
    width:48%;
    display:inline-block;
    vertical-align:top;
    margin-right:2%;
}

/* CONTENEDOR DE LA GRÁFICA DE LÍNEAS */
.grafica-lineas{
    width:48%;
    display:inline-block;
    vertical-align:top;
}

/* TARJETA DE LAS GRÁFICAS */
.charts,
.grafica-lineas{
    background:white;
    border-radius:28px;
    padding:22px;
    box-shadow:0 10px 30px rgba(0,0,0,.05);
    margin-bottom:35px;
}

/* TAMAÑO DE LOS CANVAS */
#graficaReportes,
#grafica7dias{
    width:100% !important;
    height:300px !important;
}



.chart-box{
    background:white;
    border-radius:25px;
    padding:25px;
    box-shadow:0 8px 25px rgba(0,0,0,0.05);
}

.title{
    display:flex;
    justify-content:space-between;
    margin-bottom:25px;
}

.title button{
    border:none;
    background:#f2f2f2;
    padding:10px 15px;
    border-radius:10px;
}

.fake-chart{
    height:250px;
    border-radius:20px;
    background:linear-gradient(
    to top,
    rgba(44,86,199,0.15),
    transparent
    );
    position:relative;
    overflow:hidden;
}

.line{
    position:absolute;
    width:100%;
    height:100%;
    background:url('https://www.transparenttextures.com/patterns/cubes.png');
}

.donut{
    width:220px;
    height:220px;
    margin:auto;
    border-radius:50%;

    background:conic-gradient(
        var(--blue-bg) 0% 52%,
        var(--royal) 52% 85%,
        var(--gold) 85% 95%,
        var(--font-body) 95% 100%
    );

    position:relative;
}

.donut::after{
    content:'469';
    position:absolute;
    width:130px;
    height:130px;
    background:white;
    border-radius:50%;
    top:45px;
    left:45px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:35px;
    font-weight:600;
    color:#112250;
}

.legend{
    margin-top:30px;
    display:flex;
    flex-direction:column;
    gap:12px;
}

/* colores dot */
.blue{
    background:#112250;
}

.royal{
    background:#3C507D;
}

.gold{
    background:#E0C58F;
}

.font-body{
    background:#bbb;
}

.dot{
    width:12px;
    height:12px;
    border-radius:50%;
    display:inline-block;
    margin-right:10px;
}

.gray{
    background:#bbb;
}

/* TABLA */

.table-container{
    background:white;
    border-radius:25px;
    padding:25px;
    box-shadow:0 8px 25px rgba(0,0,0,0.05);
}

.table-top{
    display:flex;
    justify-content:space-between;
    margin-bottom:20px;
}

.filter,
.new{
    border:none;
    padding:12px 18px;
    border-radius:12px;
    cursor:pointer;
}

.filter{
    background:#f2f2f2;
}

.new{
    background:#112250;
    color:white;
    margin-left:10px;
}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    text-align:left;
    padding:18px;
    color:#666;
    border-bottom:1px solid #eee;
}

td{
    padding:18px;
    border-bottom:1px solid #eee;
}

.status{
    padding:8px 15px;
    border-radius:30px;
    font-size:13px;
    font-weight:600;
}

.active-status{
    background:#dbeafe;
    color:#2563eb;
}

.found-status{
    background:#dcfce7;
    color:#16a34a;
}

.icon-btn{
    border:none;
    width:38px;
    height:38px;
    border-radius:10px;
    cursor:pointer;
    background:#f3f4f6;
    margin-right:5px;
}

.delete-btn{
    color:#ef4444;
}

/* ==========================
   RESULTADOS
========================== */

.grid-resultados{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(280px,1fr));
    gap:25px;
    margin-top:30px;
}