<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORMULARIO</title>

    <!-- Ruta correcta a tu carpeta styles -->
    <link rel="stylesheet" href="./styles/formulario.css">
</head>
<body>
    <form class="formulario">
        <nav>
            <img src="./orio-image.png" width="60" height="60" alt="Logo">
            <ul class="formulario-ul">
                <li class="li-formulario"><a href="login.html">Iniciar Sesión</a></li>
                <li class="li-formulario"><a href="formulario.html">Registrarse</a></li>
            </ul>
        </nav>

        <h2 class="h2-registro">Registro</h2>

        <section class="inputs">    
            <label>UserName</label>
            <input type="text" placeholder="Por ejem. SrSpes">

            <label>Email</label>
            <input type="email" placeholder="tuemail@gmail.com">

            <label>Contraseña</label>
            <input type="password">

            <label>Repetir Contraseña</label>
            <input type="password">
        </section>

        <button>Enviar</button>

        <p>¿Ya tienes una cuenta? <a href="login.html">Iniciar Sesión</a></p>
    </form>    
</body>
</html>
