<!DOCTYPE html> 
<html lang="es">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Motor de Búsqueda</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">

</head>

<body>

<a href="/menu" class="logo-top">
    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="">
    <span>O.R.I.O.</span>
</a>



<h1 style="text-align:center; margin-top:20px; color:#E0C58F;">Motor de búsqueda</h1>

<div class="barra_busqueda">
    <form id="filtroForm">
        <input type="text" id="Motor" placeholder="Buscar objeto..." autocomplete="off">
        <select id="categoria">
            <option value="">Todas las categorías</option>
            <option value="Documentos">Documentos</option>
            <option value="Tecnología">Tecnología</option>
            <option value="Accesorios">Accesorios</option>
            <option value="Ropa">Ropa</option>
            <option value="Llaves">Llaves</option>
            <option value="Otros">Otros</option>
        </select>
        <select id="tipo">
            <option value="">Todos</option>
            <option value="perdido">Perdido</option>
            <option value="encontrado">Encontrado</option>
        </select>
    </form>
</div>

<div class="grid">

</div> 

</body>
<script>

    const motor = document.getElementById("Motor");
    const categoria = document.getElementById("categoria");
    const tipo = document.getElementById("tipo");
    const form = document.getElementById("filtroForm");

    async function buscar(e) {
        if (e) e.preventDefault(); // Evita recarga del form
        const q = motor.value;
        const cat = categoria.value;
        const tip = tipo.value;
        const params = new URLSearchParams({
            q: q,
            categoria: cat,
            tipo: tip
        });
        const res = await fetch(`/busquedas?${params.toString()}`);
        const datos = await res.json();
        const caja = document.querySelector(".grid");
        caja.innerHTML = "";
        if (datos["datos"]) {
            const objetos = datos["datos"];
            objetos.forEach(objeto => {

                let imagen_html = "";
                if (objeto.IMAGEN) {
                    imagen_html = `<img src="${objeto.IMAGEN}" alt="Imagen del objeto">`;
                }

                let html = `<div class="tarjeta" data-id-objeto="${objeto.ID_OBJETO}">
                                ${imagen_html}
                                <div class="contenido">
                                    <div class="titulo">${objeto.NOMBRE}</div>
                                    <div class="categoria">Categoría: ${objeto.ID_CATEGORIA}</div>
                                    <div class="color">Color: ${objeto.COLOR}</div>
                                    <a class="boton" href="/detalles/${objeto.ID_OBJETO}">Ver detalles</a>
                                </div>
                            </div>`;

                caja.insertAdjacentHTML("beforeend", html);
            });

        } else {
            caja.innerHTML = datos["mensaje"];
        }
    }

    motor.addEventListener("input", buscar);
    categoria.addEventListener("change", buscar);
    tipo.addEventListener("change", buscar);
    form.addEventListener("submit", buscar);
    buscar();

</script>
</html>