<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Objeto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
</head>

<body>

<div class="contenedor">

    <div class="contenedor-principal">  
        <div class="contenedor-imagen">
            {% if item.IMAGEN %}
                <img class="imagen" src="{{ item.IMAGEN }}" alt="Imagen del objeto">
            {% else %}
                <div class="info-detalle"><span class="label">Imagen:</span> No hay imagen del objeto</div>
            {% endif %}
        </div>

        <div class="contenedor-datos">
            <h1>Detalles del Objeto</h1>
            <p class="info-detalle"><span class="label">Nombre:</span> {{ item.NOMBRE }}</p>
            <p class="info-detalle"><span class="label">Categoría:</span> {{ item.CATEGORIA }}</p>
            <p class="info-detalle"><span class="label">Color:</span> {{ item.COLOR }}</p>
            <p class="info-detalle"><span class="label">Fecha Reporte:</span> {{ item.FECHA }}</p>
            <p class="info-detalle"> <span class="label"> Persona que reportó: </span>{{ item.NOMBRE_USUARIO if item.NOMBRE_USUARIO else 'No disponible' }}</p>

            <p class="info-detalle"><span class="label">Observaciones:</span><br>
                {% if item.OBSERVACIONES %}
                    {{ item.OBSERVACIONES }}
                {% else %}
                    No hay observaciones para este objeto
                {% endif %}
            </p>

            <a href="/buscar_objetos" class="btn-volver"> Volver</a>
        </div>
    </div>
</div>

</body>
</html>