<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>O.R.I.O - Objetos Perdidos</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=Playfair+Display:wght@500;700&display=swap" rel="stylesheet">


</head>

<body>

<div class="card">

<header class="navbar">
<div class="logo">
<img src="{{ url_for('static', filename='img/logo.svg') }}" alt="ORIO">
</div>

<nav class="menu">
<a href="/inicio">Inicio</a>
</nav>
</header>

<div class="carousel">
<div class="slides" id="slides">

<div class="slide">
<picture>
  <source media="(max-width: 768px)" srcset="{{ url_for('static', filename='img/bienvenido1.jpg') }}">
  <img src="{{ url_for('static', filename='img/bienvenido1.jpg') }}" alt="imagen">
</picture>
<h2>Encuentra lo que perdiste</h2>
<p>Busca objetos reportados cerca de ti de forma rápida y sencilla.</p>
</div>

<div class="slide">
<!-- <picture> -->
  <source media="(max-width: 768px)" srcset="{{ url_for('static', filename='img/bienvenido2.jpg') }}">
  <img src="{{ url_for('static', filename='img/bienvenido2.jpg') }}" alt="imagen">
</picture>
<h2>Reporta fácilmente</h2>
<p>Publica objetos perdidos o encontrados en segundos.</p>
</div>

<div class="slide">
<picture>
  <source media="(max-width: 768px)" srcset="{{ url_for('static', filename='img/bienvenido3.jpg') }}">
  <img src="{{ url_for('static', filename='img/bienvenido3.jpg') }}" alt="imagen">
</picture>
<h2>Conecta personas</h2>
<p>Ayuda a otros a recuperar lo que han perdido.</p>
</div>
</div>

</div>

<div class="hero-white">

<svg viewBox="0 0 1440 500" preserveAspectRatio="none">
<path d="
M0,140 
C300,200 600,40 900,100 
C1200,160 1440,100 1440,110 
L1440,500 
L0,500 
Z" fill="#F5F0E9"/>
</svg>

<div class="hero-content">
<h1>Bienvenido a ORIO</h1>
<h3>OBJETOS PERDIDOS</h3>
<p>ORIO es una plataforma donde puedes reportar, buscar y recuperar objetos perdidos de manera rápida, segura y confiable.</p>
<a href="/menu" class="main-btn">Comenzar</a>
</div>

</div>

</div>



<script>
let index = 0;
const total = 3;

function showSlide(){
const slides = document.getElementById("slides");
slides.style.transform = `translateX(-${index * 100}%)`;
}

function next(){
index = (index + 1) % total;
showSlide();
}

function prev(){
index = (index - 1 + total) % total;
showSlide();
}

setInterval(() => {
next();
}, 2500);
</script>

</body>
</html>
