{% extends "base.html" %}
{% set hide_fab = True %} <!--Oculta la lupa para que no se vea en este template-->

{% block title %}Panel | O.R.I.O{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pasarela_pago.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/modos.css') }}">
{% endblock %}

{% block content %}

<div class="main main-top"></div>
<div class="contenedor">

    <!-- ============================= -->
    <!-- PLAN STANDARD -->
    <!-- ============================= -->
    <div class="plan">
        
        <!-- ENCABEZADO -->
        <div class="header-plan standard">
            Plan Standard
        </div>

        <div class="contenido">

            <!-- LOGO -->
            <div class="logo">
                <img src="{{ url_for('static', filename='img/verificado.png') }}" class="imagen-plan">
            </div>

            <!-- TITULO -->
            <h3 class="titulo">Reporte Verificado</h3>

            <!-- ESTRELLAS -->
            <div class="estrellas">★★★★★</div>

            <!-- SISTEMAS -->
            <div class="sistemas">Windows | macOS | Android | iOS</div>

            <!-- ETIQUETA -->
            <div class="etiqueta">12 funciones de protección</div>

            <!-- LISTA -->
            <ul class="lista">
                <li>✔ Datos completos</li>
                <li>✔ Verificación oficial</li>
                <li>✔ Entrega inmediata</li>
            </ul>

            <!-- BOTON -->
            <button class="boton"><a class="link" href="/form_pago_normal?plan_id=1">AHORRA UN 37%</a></button>

            <!-- PRECIO -->
            <div class="precio">
                <div class="precio-antiguo">COP 20.000</div>
                <div class="precio-nuevo">COP 15.000</div>
            </div>

        </div>
    </div>

    <!-- ============================= -->
    <!-- PLAN PLUS -->
    <!-- ============================= -->
    <div class="plan">

        <div class="header-plan plus">
            Plan Plus
        </div>

        <div class="contenido">

        <div class="logo">
                <img src="{{ url_for('static', filename='img/reporte.png') }}" class="imagen-plan">
            </div>

            <h3 class="titulo">Reporte Propietarios</h3>
            <div class="estrellas">★★★★★</div>

            <div class="sistemas">Windows | macOS | Android | iOS</div>

            <div class="etiqueta">17 funciones de protección</div>

            <ul class="lista">
                <li>✔ Historial total</li>
                <li>✔ Propietarios anteriores</li>
                <li>✔ Documentos oficiales</li>
            </ul>

            <button class="boton"><a class="link" href="/form_pago_normal?plan_id=2">AHORRA UN 37%</a></button>

            <div class="precio">
                <div class="precio-antiguo">COP 30.000</div>
                <div class="precio-nuevo">COP 25.000</div>
            </div>

        </div>
    </div>

    <!-- ============================= -->
    <!-- PLAN PREMIUM -->
    <!-- ============================= -->
    <div class="plan">

        <div class="header-plan premium">
            Plan Premium
        </div>

        <div class="contenido">

            <div class="logo">
                <img src="{{ url_for('static', filename='img/todoo.png') }}" class="imagen-plan">
            </div>

            <h3 class="titulo">Todo incluido</h3>

            <div class="estrellas">★★★★★</div>

            <div class="sistemas">Windows | macOS | Android | iOS</div>

            <div class="etiqueta">24 funciones de protección</div>

            <ul class="lista">
                <li>✔ Información válida</li>
                <li>✔ Información certificada</li>
                <li>✔ Historial completo</li>
            </ul>

            <button class="boton"><a class="link" href="/form_pago_normal?plan_id=3">AHORRA UN 37%</a></button>

            <div class="precio">
                <div class="precio-antiguo">COP 35.000</div>
                <div class="precio-nuevo">COP 30.000</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}