{% extends "admin_base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/usuarios.css') }}">
{% endblock %}

{% block content %}

    <h1>usuarios</h1>

    <div class="usuario-lista">

    </div>

<script>
const usuarioLista = document.querySelector(".usuario-lista");

fetch("/api/usuarios", { credentials: "same-origin" })
.then(r => r.json())
.then(usuarios => {
    usuarios.forEach(usuario => {
        console.log("Usuario:", usuario); // Ver cada usuario
        const usuarioElemento = document.createElement("div");
        usuarioElemento.classList.add("usuario-item");
        usuarioElemento.innerHTML = `
            <h3>${usuario.ID_USUARIO}</h3>
            <p>Nombre: ${usuario.NOMBRE}</p>
            <p>Género: ${usuario.GENERO}</p>
            <p>Rol: ${usuario.rol_nombre || 'Sin rol'}</p>
        `;
        usuarioLista.appendChild(usuarioElemento);
    });
})
.catch(error => console.error("Error:", error));

</script>
    
{% endblock %}